.header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.titlebar {
    display: flex;
    flex-direction: column;
}
.big {
    font-size: 36px;
}
.small {
    font-size: 12px;
}